.slide-container {
    max-width: 100%;
    border-radius: 1rem;
    padding: 2.25rem;
    padding-top: 0 !important;
    margin-top: -0.75rem;

    @include desktop {
        padding: 2.25rem 1.5rem;
    }

    @include tablet {
        padding: 1.5rem;
    }

    @include tablet-small {
        margin-top: 1rem;
    }
}

.portfolio-section {
    justify-content: center;
}

.card-wrapper {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem 2.5rem 1.5rem;

    @include desktop {
        margin: 0 0 1.75rem 0;
    }

    @include tablet {
        flex-direction: column;
        margin-bottom: 0.25rem;
    }

    .card-img {
        width: 52.5%;
        border-radius: 0.5rem;
        margin-left: 1rem;

        @include desktop {
            width: 57.5%;
        }

        @include tablet {
            width: 75.5%;
        }

        @include tablet-small {
            width: 85.5%;
            margin-left: 0;
        }

        @include mobile {
            width: 92%;
        }
    }
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
}

.card-content {
    padding: 1rem 1.5rem;
    align-items: center;
    margin: 1rem 0;

    @include desktop {
        padding: 1rem;
    }

    @include mobile {
        margin-left: 0.5rem;
        margin: 0;
    }

    & p {
        font-size: $fs-medium;
        align-self: start;

        @include desktop {
            font-size: $fs-small;
            line-height: 1.6;
        }

        @include mobile {
            text-align: center;
        }
    }


}

.image-content {
    position: relative;
}

.overlay {
    border-radius: 1.5rem;
}


.card-image {
    position: relative;
    border-radius: 1.5rem;

    img {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }
}

.project-name {
    font-size: $fs-large;
    margin-bottom: 1rem;
    color: $white;
}

.project-descritpion {
    font-size: 14px;
    
}
@include tablet{
    .project-descritpion:after {
        content: '';
        display: block;
        width: 50%;
        height: 1.5px;
        background-color: $paragraph-clr;
        margin: 1rem auto;
        margin-bottom: 0.75rem;
    }
}

@include tablet {
    p{
        margin:  0.25rem auto;
    }
}

.visit-btn {
    padding: 0.75rem 2.25rem;
    align-self: center;

    @include tablet{
        margin-top: 1.25rem;
        margin-bottom: -1.25rem;
    }

    @include mobile {
        padding: 0.5rem 1.75rem;
        margin-top: 0.75rem;
        margin-bottom: -0.5rem;
    }

    &:hover i{
        transform: translateX(0.25rem);
    }

    & i{
        margin-left: 0.6rem;
        font-weight: 900;
        transition: transform 0.4s ease;
    }
}

.slick-prev,
.slick-next {
    top: 59%;

    @include tablet-small{
        display: none !important;
    }
}

.slick-prev {
    left: 1.25rem;
}

.slick-next {
    right: 1.75rem;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    color: $primary-clr;
    font-size: 40px;
    transition: all 0.6s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 99;

    @include desktop {
        font-size: 36px;
    }

    @include tablet {
        font-size: 32px;
    }
}

.slick-prev:before {
    content: '←';
}

.slick-next:before {
    content: '→';
}


.slick-slider {
    position: inherit;
    display: flex;
    flex-direction: column;
}

.slick-dots {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -0.9rem;

    li {
        margin: 0 5px;

        button {
            font-size: 0;
            line-height: 0;

            &::before {
                content: '';
                display: block;
                width: 18px;
                height: 18px;
                border: 3px solid $primary-clr;
                border-radius: 50%;
                background: rgba($primary-clr, 0.2);
                transition: all 0.6s ease;
                box-shadow: 0 0 6x rgba($primary-clr, 0.75);
            }
        }

        &.slick-active button::before {
            background: $primary-clr;
            box-shadow: 0 0 6px $primary-clr;
        }
    }
}

.slick-dots li button::after {
    content: '';
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: $primary-clr;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
}

.slick-dots li.slick-active button::after {
    background: $primary-clr;
    width: 0.75rem;
    height: 0.75rem;
}

