img {
    display: block;
    max-width: 100%;
}

.project-list{
    margin-top: 2.5rem ;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.project-info {
    margin: 2.5rem 0.875rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 31vw;
    position: relative;


    .project-image {
        overflow: hidden;
        max-height: 100%;
        transition: max-height 0.7s ease-in-out;
        border-radius: 0.5rem;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .project-title {
        margin-top: -2.3rem;
        width: fit-content;
        display: flex;
        align-items: center;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        padding: 0.6rem 1.25rem;
        font-weight: 500;

        .show-more-btn {
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            i {
                color: $primary-clr;
                margin-left: 0.75rem;
                margin-right: -0.25rem;
                margin-bottom: -0.25rem;
                transition: transform 0.5s ease; 
            }
        }
        
        .show-more-btn:hover {
            cursor: pointer;
            i {
                transform: translateY(-5px); 
            }
        }
        
        h3 {
            color: $primary-clr;
        }

    }

    .project-data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        border-radius: 0.5rem;
        border-top-left-radius: 0;
        padding: 1.25rem 1.5rem;
        margin-top: -0.2rem;
        font-size: 15px;
    }

    h4 {
        color: $secondary-clr;
        margin-bottom: 0.5rem;
    }

    .badges-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .badge {
        background-color: $primary-clr;
        color: $white;
        display: block;
        padding: 0.35rem 0.75rem;
        margin: 0.25rem 0.3rem;
        border-radius: 0.5rem;
        font-size: $fs-small;
        font-weight: $fw-bold;
    }
}

.hidden{
    max-height: 0 !important;
    transition: min-height 0.3s ease-in-out;
}

.hidden-section{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}