@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

$header-height: 3rem;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0 0 $header-height 0;
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $body-color;
    color: $text-color;
  }
  
  h1, h2, h3, h4 {
    color: $title-color;
    font-weight: $font-semi-bold;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

.main-wrapper {
    margin-left: 260px;
}

.bg-dark {
  background-color: #111418!important;
}