.btn {
    color: $primary-clr;
    border-color: $primary-clr;
    border-radius: 2rem;
    padding: 0.9rem 2.5rem;
    transition: all 0.6s ease, color 0.6s ease;
    font-size: $fs-medium;
    font-weight: $fw-bold;
}

.btn:hover {
    background: $primary-clr;
    border-color: $primary-clr !important;
    color: $heading-font-color;
    cursor: pointer;
}

.btn-outline-secondary{
    color: $mild-dark-gray;
    border: $mild-dark-gray 2px solid;
    background: none;
    padding: 1rem 2.75rem;

    i{
        margin-left: 0.25rem;
    }
}

.btn-outline-secondary:hover{
    background: $mild-dark-gray !important;
    color: $white;
    border-color: $mild-dark-gray !important;
}

.btn-primary {
    color: $white;
    background-color: $primary-clr;
    border: none;
}

.btn-primary:hover {
    background: $darker-primary-clr !important;
}