// Background colors
.bg-dark {
    background-color: #111418 !important;
}

.bg-dark-1 {
    background-color: #212529 !important;
}

.bg-dark-2 {
    background-color: #343a40 !important;
}

// Main colors

$very-light-purple: hsl(250, 92%, 85%);
$light-purple: hsl(250, 69%, 61%);
$purple: hsl(250, 69%, 61%);
$deeper-purple: hsl(250, 57%, 53%);
$very-dark-purple: hsl(250, 8%, 15%); //title clr

$slate-purple: hsl(250, 8%, 45%); //font clr
$light: hsl(250, 8%, 65%);

$input-color: hsl(250, 70%, 96%);
$body-color: hsl(250, 60%, 99%);
$white: #fff;
$scroll-bar-color: hsl(250, 12%, 90%);
$scroll-thumb-color: hsl(250, 12%, 80%);

$heading-font-color: #eaeaeb;
$nav-font-color: #ced3d8;
$nav-font-color-i: #b5bbc2;

$primary-clr: #20c997;
$secondary-clr: #b6b6b9;
$teritary-clr: #ced3d8;
