.home {
    height: 100vh;
    position: relative;
}

.home-wrapper {
    overflow: hidden;
    position: relative;
    height: 100%;

    .home-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3;

        z-index: 1;
    }

    .home-background {
        background-image: url('../../../public/images/home-img.jpg');
        // background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        padding: 50vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

    }

    .home-content {
        position: relative;
        z-index: 2;
    }

    .section {
        overflow: hidden;
        padding: 4.5rem 0;
        position: relative;
        min-height: 100vh;
    }

    .home-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0 3rem 3rem;

        h1,
        h2,
        p {
            color: $heading-font-color;
        }

        h1 {
            font-size: $fs-xxx-large;
            margin-top: 1.5rem;
            margin-bottom: 1.25rem;
        }

        h2 {
            font-size: $fs-xx-large;
        }

        p {
            margin-top: 0.25rem;
            font-size: $fs-large;
        }

        a{
            border: 2px solid;
            margin-top: 2.25rem;
        }


    }

}

.scroll-down-arrow {
    position: absolute;
    left: 52.5%;
    bottom: 5%;
    transform: translate(-50%, -50%);

    z-index: 3;

    .animated {
        display: block;
        width: 14px;
        height: 14px;
        border-bottom: 3px solid $heading-font-color;
        border-right: 3px solid $heading-font-color;
        transform: rotate(45deg);
        animation: animate 2s infinite;
        margin: -13px;
    }

    .animated:nth-child(2) {
        animation-delay: -0.2s;
    }

    .animated:nth-child(3) {
        animation-delay: -0.4s;
    }

}