.contact-me-content{
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.address-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    flex: 0 0 30%;
    padding: 0.25rem 0;

    li {
        display: flex;

        i {
            font-size: $fs-xx-large;
            color: $primary-clr;
            margin: 0.5rem 1rem 1rem 0;
            margin-top: 0.5rem;
            min-width: 32px; 

            @include tablet{
                font-size: $fs-x-large;
                margin-right: 0.55rem;
            }
        }
        i:first-of-type{
            margin-top: 0.65rem;
        }

        h3 {
            margin-bottom: 0.1rem;
            font-size: 1.1rem;

            @include tablet{
                font-size: $fs-medium;
            }
        }

        p {
            font-size: 0.85rem;
        }
    }
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 65%;
    flex-shrink: 1;

    @include tablet-small{
        flex: 0 0 90%;
    }
    
    h3{
        font-size: $fs-large;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        input,
        textarea {
            padding: 0.85rem 1rem;
            border-radius: 0.4rem;
            background: #232a31;
            color: #fff;

            border: 1px solid #232a31;
            display: block;
            line-height: 1.5;
            transition: border-color .25s ease-in-out,box-shadow .25s ease-in-out;
            width: 100%;
            margin-top: 1rem;
            max-width: 100%;
            font-weight: 500;
            font-size: $fs-medium;
            outline: none;

            @include mobile{
                font-size: $fs-small;
            }
        }
        textarea{
            min-height: 200px;
        }

        .form-field:focus {
            border-color: #80bdff!important;
            box-shadow: 0 0 5px rgba(128,189,255,.5);
        }

        button{
            margin-top: 1rem;
        }
    }

    .error{
        color: #bc2020;
        font-weight: $fw-bold;
        font-size: $fs-small;
        margin: 0.5rem;
        margin-bottom: 0.25rem;
    }
}

.notification-modal {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: $primary-clr; 
    border: 1px solid $heading-font-color;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100; 
    font-size: $fs-medium;
    text-align: center;

    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s; 

    @include desktop-small{
        left: 50%;
    }

    h3{
        color: $white;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
