footer {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;

    * {
        color: $nav-font-color;
    }

    ul {
        display: flex;
        margin-top: 0.75rem;
    }

    .media-link {
        padding: 0.25rem;
        margin: 0.25rem;

        a {
            border: 1px solid #fff;
            border-radius: 50%;
            color: #fff;
            display: block;
            font-size: $fs-larger;
            height: 44px;
            line-height: 42px;
            text-align: center;
            width: 44px;
            transition: all .75s ease 0s;
        }
    }

    .facebook a:hover{
        background-color: rgba(7,115,216,.778);
    }

    .github a:hover{
        background-color:rgba(180, 180, 180, 0.2);
    }

    .linkedin a:hover{
        background-color: rgba(100, 149, 237, 1);
    }

    .gitlab a:hover{
        background-color: rgba(252, 109, 38, 0.8);
    }

    .message a:hover{
        background-color: $primary-clr;
    }

}

.media-link .animate_fade {
    opacity: 0;
    transform: translateY(20px);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.media-link.in-view .animate_fade {
    animation: fadeInUp 1s ease forwards;
}


.github { animation-delay: 0.2s; }
.facebook { animation-delay: 0.4s; }
.gitlab { animation-delay: 0.6s; }
.linkedin { animation-delay: 0.8s; }
.message { animation-delay: 1s; }
