footer{
    display: flex;
    padding: 3.5rem 0;
    align-items: center;
    justify-content: center;
    
    *{
        color: $nav-font-color;
    }

    ul{
        display: flex;
    }

    .media-btn{
        padding: 0.25rem;

        a{
            font-size: 18px;
        }
    }


}